body {
	background-color: rgb(245, 245, 245);
	color: rgb(121, 121, 121);
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 13px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size:cover;
}

* {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	cursor: pointer !important;
}

#title {
	font-family: 'Michroma', 'Droid Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 10px 0 15px 0;
	text-align: center;
}

#version {
	font-weight: bold;
	font-size: 12px;
}

.container {
	position: relative;
	text-align: center;
}

.bg {
	position: relative;
  display: inline-block;
	z-index: 1;
}

.buttons_row {
	z-index: 1000;
}

.buttons_Folk {
	position: absolute;
	display: block;
	float: left;
  margin: 0 0 0 20px;
	z-index: 1000;
	position: absolute;
	top: 245px;
	left: 200px;
}

.buttons_FolkDM {
	position: absolute;
	display: block;
	float: left;
  margin: 0 0 0 20px;
	z-index: 1000;
	position: absolute;
	top: 255px;
	left: 385px;
}
.buttons_FolkDMR {
	position: absolute;
	display: block;
	float: right;
  margin: 0 0 0 20px;
	z-index: 1000;
	position: absolute;
	top: 255px;
	right: 150px;
}

#paramsleft_container {
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
}

.btn {
	padding: 0;
	margin: 0;
	border: 0;
}

#kitlabel, #effectlabel, #swinglabel {
	top: 6px;
}

#beatlabel {
	top: 8px;
}
.label {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	position: relative;
	top: 12px;
	text-align: right;
	margin-right: 10px;
}
.combo {
	width: 158px;
	height: 15px;

	color: rgb(76, 76, 76);
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 6px;
	margin-bottom: 10px;
}

.combo img {
	position: absolute;
	left: 150px;
	top: 11px;
}
.dummy {
	position: absolute;
	right: 50px;
	bottom: -25px;
	z-index: 1000;
}

.containerDM {
	position: relative;
	vertical-align: top;
	horizontal-align: center;
	top: -40px;
	z-index: 1;
}

.mixerButtons {
	position: absolute;
	right: 480px;
	bottom: 200px;
	z-index: 2;
}

.selectorButtons {
	position: absolute;
	left: 145px;
	bottom: 260px;
	z-index: 2;
}
.combolist {
	list-style-type: none;
	position: absolute;
	top: 27px;
	left: -1px;
	margin: 0;
	background-color: rgb(249, 249, 249);
	width: 160px;
	padding: 5px;
	display: none;
	z-index: 2;
}

#effectlist {
	height: 200px;
	overflow: auto;
}

.combo.active .combolist {
	display: block;
}

.combolist li {
	padding: 2px;
}

.combolist li:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(38, 47, 104);
}

.slider_container1 {
	width: 90px;
	height: 175px;
	bottom: 80px;
	left: 518px;
	position: absolute;
	display: inline-block;
	z-index: 1000;
}
.slider_container2 {
	width: 90px;
	height: 175px;
	bottom: 80px;
	left: 598px;
	position: absolute;
	display: inline-block;
	z-index: 1000;
}

.slider_thumb {
	position: absolute;
	left: 15px;
	top: 0;
}

.tempo_container {
	position: absolute;
	left: 410px;
	bottom: 195px;
	z-index: 1000;
}

#tempodisplay {
	background-image: url('../Imagenes/tempo_bg.png');
	width: 50px;
	height: 23px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
	text-align: left;
	color: rgb(0, 255 ,0);
}

#tempo {
	font-weight: bold;
	font-size: 18px;
}

#bpm {
	font-size: 14px;
}

#tempoinc, #tempodec {
	position: relative;
	top: 3px;
	left: 1px;
}

#play, #stop {
	margin-right: 12px;
}

#stop {
	display: none;
}

#play.playing {
	display: none;
}

#stop.playing {
	display: inline;
}
#load_container {
	height: 320px;
	width: 426px;
	background-color: rgb(255, 200, 28);
	z-index: 1000;
	border: 1px solid black;
	left: 400px;
	top: 400px;
	position: absolute;
	display: none;
}

#load_textarea {
	width: 407px;
	height: 170px;
	margin: 3px 7px;
	font-size: 12px;
	-webkit-user-select: text !important;
	z-index: 1000;
}

#save_ok {
	display: block;
	margin: 0 auto;
}

#load_buttons {
	margin: 0 auto;
	width: 160px;
}

#load_ok, #load_cancel {
	margin: 0 3px;
}

#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#loadingcard {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 235, 235)),
	 to(rgb(255, 255, 255)));
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
	width: 260px;
	height: 60px;
	margin: 210px auto;
	padding: 10px;
}

#loadingtext {
	text-align: center;
	margin: 5px 0;
}

#loadingcard img {
	margin: 15px auto;
	display: block;
}

img.preload { display: none; }
#MIDIPlugin { visibility: hidden; }

#io { display:block; padding:5px 20px;}

.label {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	position: relative;
	top: 12px;
	text-align: right;
	margin-right: 10px;
}

#padLeft {
	height: 240px;
	width: 340px;
	display: inline-block;
	vertical-align: top;
	margin-left: 220px;
	margin-top: 210px;
	overflow: auto;
}

.buttons_rowL {

}
.buttons_rowR {
}

.buttons_col {
	display: block;
	float: left;
  margin: 0 0 0 20px;
}

#space {
	height: 20px;
	vertical-align: top;
	margin-right: 0px;
}

#tools {
	height: 10px;
}

.btn {
	padding: 0;
	margin: 0;
	border: 0;
}

#kitlabel, #effectlabel, #swinglabel {
	top: 6px;
}

#beatlabel {
	top: 8px;
}

.combo {
	width: 158px;
	height: 15px;

	color: rgb(76, 76, 76);
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 6px;
	margin-bottom: 10px;
}

.combo img {
	position: absolute;
	left: 150px;
	top: 11px;
}

.containerDM {
	position: relative;
	vertical-align: top;
	horizontal-align: center;
	top: -40px;
	z-index: 1;
}
.containerMixer {
	position: absolute;
	left: 280px;
	top: 300px;
	z-index: 2;
}
.mixerButtons {
	position: absolute;
	right: 480px;
	bottom: 200px;
	z-index: 2;
}

.selectorButtons {
	position: absolute;
	left: 145px;
	bottom: 260px;
	z-index: 2;
}
.combolist {
	list-style-type: none;
	position: absolute;
	top: 27px;
	left: -1px;
	margin: 0;
	background-color: rgb(249, 249, 249);
	width: 160px;
	padding: 5px;
	display: none;
	z-index: 2;
}

#load_ok, #load_cancel {
	margin: 0 3px;
}

#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
