body {
	background-color: rgb(245, 245, 245);
	color: rgb(121, 121, 121);
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 13px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size:cover;
}

* {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	cursor: pointer !important;
}

.container {
	width:1280px;
	height:800px;
	background-image: url("../Imagenes/background.png");
	position: relative;
}

.bg {
	position: relative;
  display: inline-block;
	z-index: 1;
}

.buttons_row {
	z-index: 1000;
}

.buttons_Folk {
	position: absolute;
	display: block;
	float: left;
  margin: 0 0 0 20px;
	z-index: 1000;
	top: 245px;
	left: 200px;
}

.buttons_FolkDM {
	position: absolute;
	display: block;
	float: left;
  margin: 0 0 0 20px;
	z-index: 1000;
	top: 255px;
	left: 385px;
}
.buttons_FolkDMR {
	position: absolute;
	display: block;
	float: right;
  margin: 0 0 0 20px;
	z-index: 1000;
	top: 255px;
	right: 165px;
}

.btn {
	padding: 0;
	margin: 0;
	border: 0;
}

.containerDM {
	position: relative;
	vertical-align: top;
	horizontal-align: center;
	top: -40px;
	z-index: 1;
}

.mixerButtons {
	position: absolute;
	right: 500px;
	bottom: 100px;
	z-index: 2;
}

.slider_container1 {
	position: absolute;
	width: 90px;
	height: 175px;
	bottom: 80px;
	left: 540px;
	display: inline-block;
	z-index: 1000;
}
.slider_container2 {
	position: absolute;
	width: 90px;
	height: 175px;
	bottom: 80px;
	left: 621px;
	display: inline-block;
	z-index: 1000;
}

.slider_thumb {
	position: absolute;
	left: -8px;
	top: 0px;
}

.tempo_container {
	position: absolute;
	left: 430px;
	bottom: 180px;
	z-index: 1000;
}

#tempodisplay {
	background-image: url('../Imagenes/tempo_bg.png');
	width: 50px;
	height: 23px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
	text-align: left;
	color: rgb(0, 255 ,0);
}

#tempo {
	font-weight: bold;
	font-size: 18px;
}

#bpm {
	font-size: 14px;
}

#tempoinc, #tempodec {
	position: relative;
	top: 3px;
	left: 1px;
}

#play, #stop {
	margin-right: 12px;
}

#stop {
	display: none;
}

#play.playing {
	display: none;
}

#stop.playing {
	display: inline;
}
#load_container {
	height: 320px;
	width: 426px;
	background-color: rgb(255, 200, 28);
	z-index: 1000;
	border: 1px solid black;
	left: 400px;
	top: 400px;
	position: absolute;
	display: none;
}

#load_textarea {
	width: 407px;
	height: 170px;
	margin: 3px 7px;
	font-size: 12px;
	-webkit-user-select: text !important;
	z-index: 1000;
}

#save_ok {
	display: block;
	margin: 0 auto;
}

#load_buttons {
	margin: 0 auto;
	width: 160px;
}

#load_ok, #load_cancel {
	margin: 0 3px;
}

#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#loadingtext {
	text-align: center;
	margin: 5px 0;
}

#loadingcard img {
	margin: 15px auto;
	display: block;
}

img.preload { display: none; }

#io { display:block; padding:5px 20px;}

#load_ok, #load_cancel {
	margin: 0 3px;
}
